<% if !@hosts.empty? and @hosts.any?{|h| h.alive? } %>

  <div id="details">
    <h2>Details</h2>
    <p class="sub"><em>Miscellaneous statistics</em></p>
    <p class="sub"><em><%= @hosts.size %> Hosts</em></p>
  
    <dl class="stat">
      <h4>Memory</h4>
      <dt>Used</dt>
      <dd><%= number_to_human_size(@hosts.collect{|h| h.bytes if h.alive? }.compact.sum) %></dd>
      <dt>Total</dt>
      <dd><%= number_to_human_size( @hosts.collect{|h| h.limit_maxbytes if h.alive? }.compact.sum) %></dd>
    </dl>
  
    <dl class="stat">
      <h4>Accuracy</h4>
      <dt>Hits</dt>
      <dd><%= (@hosts.collect{|h| h.get_hits if h.alive? }.compact.sum) %></dd>
      <dt>Misses</dt>
      <dd><%= ( @hosts.collect{|h| h.get_misses if h.alive? }.compact.sum) %></dd>
    </dl>
  
    <dl class="stat">
      <h4>Access</h4>
      <dt>Read</dt>
      <dd><%= (@hosts.collect{|h| h.cmd_get if h.alive? }.compact.sum) %></dd>
      <dt>Write</dt>
      <dd><%= ( @hosts.collect{|h| h.cmd_set if h.alive? }.compact.sum) %></dd>
    </dl>
  
    <dl class="stat">
      <h4>Connections</h4>
      <dt>Current</dt>
      <dd><%= (@hosts.collect{|h| h.curr_connections if h.alive? }.compact.sum) %></dd>
      <dt>Total</dt>
      <dd><%= ( @hosts.collect{|h| h.total_connections if h.alive? }.compact.sum) %></dd>
    </dl>
  
    <dl class="stat">
      <h4>Items</h4>
      
      <dt>Current</dt>
      <dd><%= (@hosts.collect{|h| h.curr_items if h.alive? }.compact.sum) %></dd>
      <dt>Total</dt>
      <dd><%= ( @hosts.collect{|h| h.total_items if h.alive? }.compact.sum) %></dd>
    </dl>
  </div>

<div id="overall">
  <h2>Overview</h2>
  <p class="sub"><em>For all active hosts</em></p>
  
  <div class="stats graph">
    <img src="<%= graph_url([@hosts.collect{|h| h.get_hits if h.alive? }.compact.sum, @hosts.collect{|h| h.get_misses if h.alive? }.compact.sum], ["Hits", "Misses"]) %>">
    <h3><span class="graph-indicator">Hit</span> / Miss</h3>
    <p>The amount of returned caches vs misses, misses usually require your application servers to work harder.</p>
  </div>
  
  <div class="stats graph">
    <img src="<%= graph_url([@hosts.collect{|h| h.cmd_get if h.alive? }.compact.sum, @hosts.collect{|h| h.cmd_set if h.alive? }.compact.sum], ["Reads", "Writes"]) %>">
    <h3><span class="graph-indicator">Read</span> / Write</h3>
    <p>More writes than reads can often mean that you’re caching too early, or that you’ve not been monitoring for very long.</p>
  </div>
  
  <div class="stats graph">
    <img src="<%= graph_url([@hosts.collect{|h| h.bytes if h.alive? }.compact.sum, @hosts.collect{|h| h.limit_maxbytes if h.alive? }.compact.sum], ["Free", "Total"]) %>">
    <h3><span class="graph-indicator">Used Memory</span> / Free Memory</h3>
    <p>The cumulative amount of free memory and total memory across all active hosts.</p>
  </div>
</div>
<% end %>

<div id="hosts">
  <h2>Hosts</h2>
  <a id="new" href="/hosts/new">Add a new host</a>
  
  <% unless @hosts.empty? %>
  <ul>
    <% for host in @hosts %>
      <li<%= " class=\"inactive\"" unless host.alive? %>>
        <% if host.alive? %>
          <p><a href="/hosts/<%= host.id %>"><%=h host.address %></a></p>
        <% else %>
          <p><%=h host.address %></p>
          <p class="status">Inactive / Not Responding</p>
        <% end %>
        <form action="/hosts/<%= host.id %>/destroy" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Remove</button>
        </form>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>