%h2.host
  %span.host-address
    = @host.address
  %small.host-details
    = "#{@host.curr_items} item/s in cache, with #{@host.curr_connections} active connections"

%article.stats
  %section.stats-graph
    %img{src: graph_url(@host.bytes, @host.limit_maxbytes) }
  %section.stats-text
    %h3
      %span.graph-indicator Used (#{number_to_human_size(@host.bytes)})
      \/ Available Memory (#{number_to_human_size(@host.limit_maxbytes)})
    %p The cumulative amount of available memory across all active hosts.

%article.stats
  %section.stats-graph
    %img{src: graph_url(@host.get_hits, @host.get_misses) }
  %section.stats-text
    %h3
      %span.graph-indicator Hit (#{@host.get_hits})
      \/ Miss (#{@host.get_misses})
    %p The amount of returned caches vs misses, misses usually require your application servers to work harder.

%section.stats
  %section.stats-graph
    %img{src: graph_url(@host.cmd_get, @host.cmd_set) }
  %section.stats-text
    %h3
      %span.graph-indicator Read (#{@host.cmd_get})
      \/ Write (#{@host.cmd_set})
    %p More writes than reads can often mean that you’re caching too early, or that you’ve not been monitoring for very long.
